.homepage {
  display: flex;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.left-half {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
}

.right-half {
  flex: 1;
  background-color: #e0e0e0;
  padding: 20px;
}
